<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- Caching -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/fontawesome.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Nav -->
  {% include '_navbar.html' %}

  <!-- Content -->
  {% block body %}{% endblock %}
  
  <!-- JavaScript -->
  <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  
</body>

</html>