{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>
            $(document).ready(function() {
                infoMessage('{{ message }}');
            });
        </script>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
            $(document).ready(function() {
                successMessage('{{ message }}');
            });
        </script>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>
            $(document).ready(function() {
                warningMessage('{{ message }}');
            });
        </script>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
            $(document).ready(function() {
                errorMessage('{{ message }}');
            });
        </script>
        {% endif %}
    {% endfor %}
{% endif %}