<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    
    <title>Trova - Login</title>
</head>

<body class="text-center">
    <!-- Login Form -->
    <form class="form-signin" role="form" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'images/trova_logo.png' %}" style="width:200px;" alt="Trova Logo">
        <h1 class="h5 mb-3 font-weight-normal">Login</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember_me" value="remember_me"> Remember Me
            </label>
        </div>
        <button class="btn btn-light btn-block" type="submit">Sign in</button>
    </form>
    
    <!-- JavaScript -->
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    
</body>

</html>