{% extends "_body.html" %}

{% block title %}
Trova - Home
{% endblock %}

{% block pagecontent %}
<main role="main" class="container-fluid">
    <div class="row justify-content-between">
        <div class="col">
            <h5>Page Title</h5>
        </div>
        <div class="col text-right">
            <button type="button" class="btn btn-success btn-sm">Success</button>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            
        </div>
    </div>
</main>
{% endblock %}